AndroidApps/Web References/MessageCenterSource/MessageCenter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageCenter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.113:8080/MessageCenter.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.113:8080/MessageCenter.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageCenter_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IMessageCenter_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageCenter_HelloWorldWrite_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldWrite" />
  </wsdl:message>
  <wsdl:message name="IMessageCenter_HelloWorldWrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldWriteResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageCenter">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageCenter/HelloWorld" message="tns:IMessageCenter_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageCenter/HelloWorldResponse" message="tns:IMessageCenter_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldWrite">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageCenter/HelloWorldWrite" message="tns:IMessageCenter_HelloWorldWrite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageCenter/HelloWorldWriteResponse" message="tns:IMessageCenter_HelloWorldWrite_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessageCenter" type="tns:IMessageCenter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IMessageCenter/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldWrite">
      <soap:operation soapAction="http://tempuri.org/IMessageCenter/HelloWorldWrite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageCenter">
    <wsdl:port name="BasicHttpBinding_IMessageCenter" binding="tns:BasicHttpBinding_IMessageCenter">
      <soap:address location="http://192.168.1.113:8080/MessageCenter.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>